{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_overviewmyrolesincourses/overviewmyrolesincourses

    Example context (json):
    {
      "roleshortname": "editingteacher",
      "rolelocalname": "Teacher",
      "mylist": [
        {
          "roleid": "3",
          "roleshortname": "editingteacher",
          "rolename": "Teacher",
          "courseid": "5",
          "courseshortname": "Mathe fractions",
          "coursefullname": "Mathe fractions xxx",
          "visible": "1",
          "favourite": true,
          "url": "",
          "urldelete": "",
          "dimmed": "",
          "duration": "19\/08\/30 - 19\/08\/40",
          "cssselectordurationstatusofcourse": "overviewmyrolesincourses-coursefuture",
          "showdeleteicon": "1"
        },
        {
          "roleid": "3",
          "roleshortname": "editingteacher",
          "rolename": "Teacher",
          "courseid": "4",
          "courseshortname": "Activities (plugins)",
          "coursefullname": "Activities (plugins)",
          "visible": "1",
          "favourite": true,
          "url": "",
          "urldelete": "",
          "dimmed": "",
          "duration": "23\/07\/21 - 24\/07\/23",
          "cssselectordurationstatusofcourse": "overviewmyrolesincourses-courseinprogress",
          "showdeleteicon": "1"
        },
        {
          "roleid": "3",
          "roleshortname": "editingteacher",
          "rolename": "Teacher",
          "courseid": "3",
          "courseshortname": "Testing filters",
          "coursefullname": "Testing filters",
          "visible": "0",
          "favourite": true,
          "url": "",
          "urldelete": "",
          "dimmed": "dimmed",
          "duration": "23\/07\/21 - 24\/07\/22",
          "cssselectordurationstatusofcourse": "overviewmyrolesincourses-coursefinished",
          "showdeleteicon": "1"
        }
      ]
    }
}}

<div class="border shadow mb-4">
    <script>
        function myFunction{{roleshortname}}() {
            var element = document.getElementById("overviewmyrolesincourses-visibility-{{roleshortname}}");
            element.classList.toggle("overviewmyrolesincourses-foldonstart");
        }
    </script>
    <div class="border p-2 overviewmyrolesincourses-bg-{{roleshortname}}" onclick="myFunction{{roleshortname}}()">
        {{rolelocalname}} {{counter}} {{courses}}
    </div>
    <div id="overviewmyrolesincourses-visibility-{{roleshortname}}"
            class="{{#foldonstart}}overviewmyrolesincourses-foldonstart{{/foldonstart}}">
        {{#mylist}}
        <div class="border">
            <div class="col {{cssselectordurationstatusofcourse}} {{dimmed}}">
                <div class="{{dimmed}}">
                    <a href="{{url}}" class="{{dimmed}}" title="{{coursefullname}}">
                        <i class="icon fa fa-graduation-cap fa-fw"></i>{{coursefullname}}
                    </a>
                </div>
                <div class="row duration">
                    <div class="{{dimmed}} col-8">
                         {{duration}}
                    </div>
                    <div class="col-4 overviewmyrolesincourses-tools">
                        {{#favourite}}
                            ⭐
                        {{/favourite}}
                        {{^dimmed}}<span><i class="fa fa-eye" aria-hidden="true"></i></span>{{/dimmed}}
                        {{#dimmed}}<span><i class="fa fa-eye-slash" aria-hidden="true"></i></span>{{/dimmed}}
                        {{#showdeleteicon}}
                            <a href="{{urldelete}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        {{/showdeleteicon}}
                    </div>
                </div>
            </div>
        </div>
        {{/mylist}}
    </div>
</div>
